:root {
  --main-color: #ff9002;
  --primary-color: #002952;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 16px;
}

.font-inter {
  font-family: "Inter";
}



/* Optimize CSS Here */
.pad-5-7 {
  padding: 5rem 7%;
}

/* background-color */
.c-main {
  color: var(--main-color);
}

.color-while {
  color: #ffffff;
}

.c-primary {
  color: var(--primary-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-primary {
  background-color: var(--primary-color);
}
.font-inter {
  font-family: "Inter";
}

