.border-main {
  border-color: var(--main-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.bg-basement {
  background-image: url('../images/Basement_full.png');
}

/* Large PC */
@media only screen and (min-width: 1600px) {
  body {
    display: grid;
    place-items: center;
  }
  header, main, footer {
    width: 1600px;
  }
  .lg-c-main {
    color: var(--main-color);
  }

  .lg-c-primary {
    color: var(--primary-color);
  }
  .backdrop-blur-lg {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
/* Medium PC */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .lg-c-main {
    color: var(--main-color);
  }

  .lg-c-primary {
    color: var(--primary-color);
  }
  .backdrop-blur-lg {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

/* PC */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .lg-c-main {
    color: var(--main-color);
  }

  .lg-c-primary {
    color: var(--primary-color);
  }
  .backdrop-blur-lg {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
